---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import Card from '../components/Card.astro';
---

<Layout title="Nerd Fest + Expo">
	<main>
		<h1>Nerd Fest <span class="text-gradient">+</span> Expo</h1>
		<div class="centered-text">3D Printing | Tabletop RPGs | Trading Card Games | & More!</div>
		<p class="instructions">
			<Icon name="calendar"/> Saturday, February 1st 2025<br />
			<Icon name="clock"/> <strong>1pm - 5pm</strong><br />
			<Icon name="location"/> The Church of Jesus Christ of Latter-Day Saints<br />
			3644 Talley Rd. San Antonio, TX
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/"
				title="Free"
				body="A free family friendly event!"
			/>
			<Card
				href="/"
				title="Raffle Giveaway"
				body="First 20 attendees get an extra raffle ticket."
			/>
			<Card
				href="https://forms.gle/cwNivMCVRu7Hq72A8"
				title="RSVP Today"
				body="RSVP today to get an extra giveaway raffle ticket!"
			/>
			<Card
				href="/speakers"
				title="Speakers"
				body="Learn from expert nerds. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.centered-text {
		text-align: center;
	}

	@keyframes float {
		0% {
		transform: translate3d(0, 0, 0);
		}

		100% {
		transform: translate3d(0, 30px, 0);
		}
	}

	#astronaut {
		animation: float linear 2.5s infinite alternate;
	}

	@media (prefers-reduced-motion: reduce) {
		#astronaut {
		@apply animate-none;
		}

		:global(#starfield) {
		@apply hidden;
		}

		#splash-bg-fallback {
		@apply block;
		}
	}
</style>
